.low-blood-pressure {
  color: blue;
}

.ideal-blood-pressure {
  color: green;
}
  
.pre-high-blood-pressure {
  color: orange;
}
  
.high-blood-pressure {
  color: red;
}
  
.error-message {
  color: red;
  font-weight: bold;
}
